$headings-color: #ca4400;
$text-color: #555555;
$white: #FFFFFF;
$body-bg: #f6f6f6;

// Device width
$small: 39.9375em;
$small-up: 47.9375em;
$large: 64em;
$medium: 63.9375em;
$extra-large: 74.9375em;
